body{
    background-color: #191970;
}
nav{
  background-color:transparent;
  text-align: center;
  width: 1485px;
  height: 70px;
}
nav img{
  position: relative;
  top: -30px;
  width: 360px;
  height: 120px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
}

.grid-container img{
  position: absolute;
  size: 1000px;
}