body{
    background-color: #191970;
}
nav{
  background-color:transparent;
  text-align: center;
  width: 1485px;
  height: 70px;
}
nav img{
  position:absolute;
  top: -30px;
  left: 200px;
  width: 360px;
  height: 120px;
  text-align: center;
}
table, td, th {  
  top: 300px;
  border: 1px solid #ddd;
  text-align: center;
}
table img{
  position: relative;
  text-align: center;
  width: 1345px;
  height: 1000px;
}