body{
    background-color: #191970;
}
nav{
  background-color:transparent;
  text-align: center;
  width: 1485px;
  height: 70px;
}
nav img{
  position: relative;
  top: -30px;
  width: 360px;
  height: 120px;
}
div{
  position: absolute;
  display: grid;
  top: 50px;
  text-align: center;
}

table img{
  width: 350px;
  height: 280px;
  padding: 8px 8px;
  text-align: center;
}